body{
    font-family: arial, sans-serif;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: white;
    margin: 0;
}

.card{
    background-color: rgb(222, 199, 199);
}

.card-image{

}

.card-button{

}